<html>
    <head>
            <meta charset="utf-8">
            <title>Pet Dating</title>
        
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'detailPage/style.css'%}">
            <script>
                $( document ).ready(function() {
                    $('#familyInfo').hide();
                    $("#ownerTag").click(function(){
                        $("#familyTag").removeClass("active");
                        $("#ownerTag").addClass("active");
                        $('#familyInfo').hide();
                        $('#ownerInfo').show();
                    });

                    $("#familyTag").click(function(){
                        $("#ownerTag").removeClass("active");
                        $("#familyTag").addClass("active");
                        $('#ownerInfo').hide();
                        $('#familyInfo').show();
                    });
                });
            </script>
    </head>
    <body>
            <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="{%url 'home'%}">
                      PetDate
                    </a>
            </nav>
            <div class="cover-photo"><img src="{{ dog.photo.url }}" alt="" style="object-fit: cover;"/></div>
            <div class="body">
              <section class="left-col user-info">
                <div class="profile-avatar">
                        <img src="{{ dog.photo.url }}" alt=""/>
                </div>
                <h1>{{dog.name}}</h1>
                <h2>{{dog.breed}}</h2>
                <div class="meta">
                    <p>{{dog.age}} years old</p>
                    <p><i class="fa fa-fw fa-map-marker"></i> {{dog.location}}</p>
                    <p><i class="fa fa-fw fa-link"></i>Love to eat {{dog.favourite_food}}</p>
                </div>
              </section>
              <section class="section center-col content">
                
                <!-- Nav -->
                <nav class="profile-nav">
                  <ul>
                    <li class="active" id="ownerTag">Owner's Information</li>
                    {%if father or mother%}
                    <li id="familyTag">Family</li>
                    {%endif%}
                  </ul>
                </nav>
                
                <div id="ownerInfo" class="owner_info">
                    <h1>Owner: {{dog.owner_name}}</h1>
                    <div class="contact_info">{{dog.owner_contact_info}}</div>
                </div>

                <div id="familyInfo" class="family_info">
                    <div>
                        {%if father or mother%}
                        <h1>Father</h1>
                        <h2>{{father.name}}</h2>
                        <div class="dog">
                            <a href="/{{father.id}}"><img src="{{ father.photo.url }}" alt="{{father.name}}" width="200px"></a>
                        </div>
                    </div>

                    <div>
                        <h1>Mother</h1>
                        <h2>{{mother.name}}</h2>
                        <div class="dog">
                            <a href="/{{mother.id}}"><img src="{{ mother.photo.url }}" alt="{{mother.name}}" width="200px"></a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            
              </section>
              <section class="right-col">
                <h5>Number of Like</h5>
                <p>{{dog.like}}</p>
                <button><a href="/{{dog.id}}/like">Like</a></button>

                <form action="{% url 'editDog' pk=dog.id %}" method="post">{% csrf_token %}<button type="submit">EDIT</button></form>
                <form action="{% url 'deleteDog' pk=dog.id %}" method="post">{% csrf_token %}<button type="submit">DELETE</button></form>
              </section>
            </div>
    </body>
</html>