<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pet Dating</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homePage/style.css'%}">
  
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        PetDate
      </a>

      <form action="{%url 'home'%}" method="post">{% csrf_token %}<input type="text" placeholder="filter by location" name="city"></form>
      <button><a href="{% url 'addDog' %}">ADD</a></button>
    </nav>

    <div class="content">
      {% for dog in obj %}
      123
      {%if dog.location == location%}
      <div class="dog">
        <a href="/{{dog.id}}"><img src="{{ dog.photo.url }}" alt="{{dog.name}}" width="200px"></a>
      </div>
      {%endif%}
      {% endfor %}
    </div>
  </body>
</html>
